html {
  background-color: #242424;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Geneca, sans-serif;
  color: #e4e6eb;
  text-align: center;
  font-size: calc(12px + 1.5vw);
}

.algo-nav {
  margin: 0;
  padding: 0;
  background-color: #181818;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2vh;
  box-shadow: 0rem 1px 1px 1px #444444;
  /* border-bottom: 1px solid #e4e6eb; */
}

.algo-nav > a {
  color: #e4e6eb;
}

.main-question-div {
  margin: 2vh auto;
  width: 80vw;
}
.main-question-div {
  margin: 2vh auto;
  width: 90vw;
}

.currentQuestion {
  text-align: left;
  margin: 3vh auto 1vh;
}
.main-question-div > form {
  display: flex;
  flex-direction: column;
  margin: 3vh auto;
  text-align: left;
  max-width: 70vw;
  font-size: calc(10px + 1.5vw);
}
.main-question-div > form > label {
  display: flex;
  align-items: center;
  margin: 1vh;
}
.main-question-div > form > label > input[type="checkbox"] {
  border: 10px solid red;
}
form > button {
  margin: 2vh auto;
  padding: 0.5rem;
  font-size: calc(10px + 0.5vw);

  max-width: 20vw;
}

#codesnippet {
  margin: auto;
  border: 1px solid gray;
  background-color: #383838;
  font-size: calc(12px + 1vw);
  border-radius: 4px;
  word-wrap: break-word;
  width: min(fit-content, 80vw);
  padding: 0.1rem;
  text-align: left;
}
/* CodeRunner.css */

.code-runner {
  width: 80%;
  margin: auto;
  color: white;
}

.code-area {
  width: 100%;
}

.run-button {
  margin-bottom: 20px;
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

.run-button:hover {
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  color: #d4d4d4;
}

.clear-stats-button,
.correct-stats-button,
.incorrect-stats-button {
  font-size: calc(12px + 1vw);
  margin-bottom: 20px;
  background-color: #242424;
  color: white;
  flex: 1;
  border: none;
  min-width: fit-content;
  padding: 7px 15px;
  margin: 10px 2px;
  border-radius: 5px;
  cursor: pointer;
}

.correct-answer {
  background-color: green;
  color: #d4d4d4;
  font-size: calc(12px + 1vw);
  flex: 1;
  margin-bottom: 20px;
  padding: 7px 15px;
  margin: 10px 2px;
  border-radius: 5px;
}
.incorrect-answer {
  background-color: red;
  color: #d4d4d4;
  font-size: calc(12px + 1vw);
  margin-bottom: 20px;
  padding: 7px 15px;
  margin: 10px 2px;
  border-radius: 5px;
}

.correct-stats-button:hover {
  background-color: #1e1e1e;
  outline: 1px solid green;
  color: #d4d4d4;
}
.incorrect-stats-button:hover {
  background-color: #1e1e1e;
  outline: 1px solid red;
  color: #d4d4d4;
}
.clear-stats-button:hover {
  background-color: #1e1e1e;
  outline: 1px solid #007acc;
  color: #d4d4d4;
}

.mcq-stats {
  display: flex;
  margin: auto;
  width: fit-content;
  justify-content: space-around;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0rem 2px 2px 2px #444444;
}

.console-output {
  background-color: #1e1e1e;
  text-align: left;
  list-style-type: none;
  color: #d4d4d4;
  padding: 0.2rem;
  border-radius: 5px;
  white-space: pre-wrap;
}
.consoleOutput {
  list-style-type: "\00BB";
  margin-left: 8px;
  padding-left: 8px;
  font-size: 16px;
}

.js-or-python {
  font-size: 16px;
  color: #d4d4d4;
  display: flex;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-variant: small-caps;
}
.js-or-python:hover {
  cursor: pointer;
}
